<link rel="stylesheet" href="/css/home.css"/>

<!-- Page Contents -->
<div class="pusher">

  <div class="ui inverted vertical masthead center aligned segment">
    <div class="overlay"></div> 
    <div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        <a class="toc item">
          <i class="sidebar icon"></i>
          <img src="/images/logo.svg">
        </a>
        <a class="item">CHAP</a>

        <div class="right item">
          <a ui-sref="Login" class="ui inverted button">Log in</a>
          <a ui-sref="Register" class="ui primary button">Sign Up</a>
        </div>
      </div>
    </div>
    <div class="ui text container herotext">
      <h1 class="ui inverted header">
        Easy booking, convenient planning
      </h1>
      <h2>Create a profile and have clients book through your CHAPapp today!</h2>
      <div ui-sref="Register" class="ui huge primary button">Get Started <i class="right arrow icon"></i></div>
    </div>
  </div>

  <!-- <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
          <h3 class="ui header">We Help talented beauty providers connect with their clientele</h3>
          <p>CHAP allows all beauty providers to conveniently set up appointments with clients through our simple interface.</p>
          <h3 class="ui header">Perfect Application for Barbers, Beauticians, etc</h3>
          <p>CHAP is aimed at streamlining the appointment process for individual beauty providers, whether you may be a barber, hair dresser, manucurist, tattoo artist, make up artist, etc.</p>
        </div>
        <div class="six wide right floated column">
          <img src="assets/images/wireframe/white-image.png" class="ui large bordered rounded image">
        </div>
      </div>
      <div class="row">
        <div class="center aligned column">
          <a class="ui huge button">Check Them Out</a>
        </div>
      </div>
    </div>
  </div>


  <div class="ui vertical stripe quote segment">
    <div class="ui equal width stackable internally celled grid">
      <div class="center aligned row">
        <div class="column">
          <h3>"What an App"</h3>
          <p>That is what they all say about us</p>
        </div>
        <div class="column">
          <h3>"Makes setting up appointments with a breeze."</h3>
          <p>
            <img src="assets/images/avatar/nan.jpg" class="ui avatar image"> <b>Nan</b> Dank Haircuts
          </p>
        </div>
      </div>
    </div>
  </div> -->

  <!-- <div class="ui vertical stripe segment">
    <div class="ui text container">
      <h3 class="ui header">The Instagram API sucks</h3>
      <p>We know since June 2016, Instagram's API updates have made it impossible for users to really take advantage of their content. We've made it possible to grab the images you want by simply using the url of the instagram post. Our api will take the image from the post and save it to your account. Just make sure the images are on a public account in order for our api to parse the page. Showcase all your beautiful work in no time. Add images to your menu and really show off your abilities</p>
      <a class="ui large button">Sign Up</a>
      <h4 class="ui horizontal header divider">
        <a href="#">Dank</a>
      </h4>
      <h3 class="ui header">Fast interface</h3>
      <p>Really fast because we use Node.</p>
    </div>
  </div> -->


  <div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <h4 class="ui inverted header">About</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Who we are</a>
            <a href="#" class="item">Contact Us</a>
            <a href="#" class="item">Social Media</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Help</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">FAQ</a>
            <a href="#" class="item">Customer Service</a>
            <a href="#" class="item">Dank haircuts</a>
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header">Footer Header</h4>
          <p>React refactor and react-native app coming soon!</p>
        </div>
      </div>
    </div>
  </div>
</div>