<style type="text/css">
  .loginform {
    max-width: 450px;
    margin-top: 15%
  }
</style>

<div class="ui middle aligned center aligned grid">
  <div class="column loginform">
    <h2 class="ui teal header">
      <div class="content">
        Log-in to your account
      </div>
    </h2>
    <form class="ui large form" ng-submit="vm.login()">
      <div class="ui segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input ng-model="vm.userInfo.username" type="text" name="email" placeholder="E-mail address">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input ng-model="vm.userInfo.password" type="password" name="password" placeholder="Password">
          </div>
        </div>
        <button ng-click="nc.showNav = true" class="ui fluid large teal submit button" type="submit">Login</button>
      </div>

    </form>

    <div class="ui message">
      New to us? <a ui-sref="Register">Sign Up</a>
    </div>
  </div>
</div>
