<style type="text/css">
.login_container{
  position: relative;
  max-width: 400px;
  margin: auto;
  transform: translateY(50%);
}
.login{
  margin: 10px;
}
</style>


<div class="ui animated fadeIn login_container">
  <div class="column login">
    <h2 class="ui violet header">Register</h2>
    <form name="registerForm" class="ui large form" ng-submit="vm.register()">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input required ng-model="vm.userInfo.username" type="text" placeholder="Username">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input required ng-model="vm.userInfo.email" type="text" name="email" placeholder="E-mail address">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input required ng-model="vm.userInfo.password" type="password" name="password" placeholder="Password">
          </div>
        </div>
      <div class="ui horizontal section divider">Enter your professional background</div>
      <div class="field">
        <!-- <select ng-model="vm.userInfo.profession" class="ui fluid dropdown">
          <option value="client">Client</option>
          <option value="provider">Barber/Service Provider</option>
        </select> -->
        
        <div class="ui sub header">Profession:</div>
        <select dropdown ng-model="vm.userInfo.profession" name="skills" class="ui fluid dropdown" placeholder="Add your trade breh">
          <option value="Barber">Barber</option>
          <option value="Hairdresser">Hairdresser</option>
          <option value="MUA">MUA</option>
          <option value="Other">Other</option>
        </select>
      </div>
      <div class="field">
        <input ng-model="vm.userInfo.profession2" ng-show="vm.userInfo.profession == 'Other'" type="text" value="" placeholder="What is your professional background?">
      </div>
      
      <button ng-disabled="registerForm.$invalid" type="submit" ng-show="!vm.loading" class="ui fluid large violet submit button">Register</button>
      <button ng-show="vm.loading" class="ui fluid large loading violet submit button">Loading</button>

      <div class="ui error message"></div>

    </form>
  </div>
</div>
