<style type="text/css">
  .column {
    max-width: 450px;
    margin-top: 150px;
  }
</style>


<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui violet header">
      <div class="content">
        Reservation Successful!
      </div>
    </h2>
    <form class="ui large form" >
      <div class="ui segment">
        <div class="field">
            <label>Please remember to go to your appointment. If you cannot make it, contact your barber ahead of time.</label>
          </div>
        </div>
    </form>
  </div>
</div>
